---
styles:
    - '../styles/styles.scss'
    - '../styles/about.scss'
---

{{!< main}}

<main>
    <div class="about">
        <div class="about__action">
            <div class="field">
                <a href="./home.hbs" class="effect-button">
                    login
                </a>
            </div>
            <div class="field">
                <a href="./register.hbs" class="effect-button">
                    register
                </a>
            </div>
            <div class="field">
                <a href="./about.hbs" class="effect-button">
                    about
                </a>
            </div>
            <div class="field">
                <a href="./messenger.hbs" class="effect-button">
                    messenger
                </a>
            </div>
            <div class="field">
                <a href="./404.hbs" class="effect-button">
                    404
                </a>
            </div>
            <div class="field">
                <a href="./500.hbs" class="effect-button">
                    500
                </a>
            </div>
        </div>
    </div>
</main>