---
styles:
    - '../styles/styles.scss'
    - '../styles/about.scss'
    - '../styles/log.scss'
    - '../partials/card/card.scss'
---

{{!< main}}

<main class="about">
    <div class="profile-picture profile-picture--gargantuan">
        <img src="https://place-hold.it/107" class="profile-img" alt="profile picture">
    </div>

    <h2 class="about__name">dfdgfgd</h2>

    <form class="about-form">
        <div class="about__info">
            <div class="field">
                <div class="field__key">
                    old password
                </div>
                <div class="field__value">
                    <input class="input-inline" type="password" value="34hfghfb">
                </div>
            </div>

            <div class="field">
                <div class="field__key">
                    new password
                </div>
                <div class="field__value">
                    <input class="input-inline" type="password" value="34hfghfb">
                </div>
            </div>

            <div class="field">
                <div class="field__key">
                    repeat new password
                </div>
                <div class="field__value">
                    <input class="input-inline" type="password" value="34hfghfb">
                </div>
            </div>
        </div>

        <div class="about__action">
            <div class="action">
                <button class="action-button">
                    Apply changes
                </button>
            </div>
        </div>
    </form>
</main>
