@use "/src/styles/variables.scss" as var;

.chat {
  position: relative;
  display: flex;
  flex-direction: row;
  margin: 5px 0 10px;
  padding: 20px;

  &::after {
    position: absolute;
    top: 100%;
    left: 5%;
    display: block;
    width: 90%;
    height: 1px;
    margin-top: 5px;
    background-color: var.$black;
    content: "";
  }

  &:hover {
    background-color: var.$light-blue;
  }

  &--active {
    background-color: var.$light-blue;
  }

  &__content {
   // width: 350px;
    margin-left: 15px;
    flex: auto;

    &-name {
      font-weight: bold;
      font-size: 15px;
    }

    &-text {
      display: box;
      height: 37px;
      overflow: hidden;
      font-size: 12px;
      text-overflow: ellipsis;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }

  &__time {
    font-size: 10px;
  }
}
