@use '/src/styles/variables.scss' as var;

.textarea {
    width: 100%;

    padding-top: 8px;
    padding-bottom: 8px;
    
    resize: none;
    border: none;
    background: transparent;

    &::-webkit-scrollbar {
        display: none;
    }
}