@use "/src/styles/variables.scss" as var;

.input {
  position: relative;
  margin-bottom: 40px;

  &-inline {
    padding: 0;
    font-size: 16px;
    text-align: right;
  }

  &__label {
    position: absolute;
    top: -2px;
    left: 0;
    color: var.$gray;
    transition: 0.25s ease;
    pointer-events: none;
  }

  &__field {
    width: 280px;
    border-bottom: 2px solid var.$blue;

    &:focus,
    &:valid {
      border-bottom-color: var.$purple;

      & + .input__label {
        color: var.$purple;
        transform: translateY(-1.3rem);
      }
    }
  }
}

input:disabled {
  color: #000;
}
