<div class="chat {{#if chat.isActive}}chat--active{{/if}}">
    <div class="profile-picture profile-picture--middle">
        <img src="https://place-hold.it/47" class="profile-img" alt="profile picture">
    </div>
    <div class="chat__content">
        <div class="chat__content-name">
            {{chat.name}}
        </div>
        <div class="chat__content-text">
            {{chat.last-message}}
        </div>
    </div>
    <div class="chat__time">
        {{{chat.date}}}
    </div>
</div>