$red: #f00;
$light-red: #e97474;
$light-green: #7fda6d;
$purple: #6658d3;
$light-blue: #d6e4fc;
$blue: #3369f3;
$dark-blue: #144ad3;

$white: #fff;
$snow-white: #fbfbfb;
$light-gray: #f1f3fb;
$gray: #8597a3;
$dark-gray: #575756;

$scrollbar-track: #b3b1b1;
$scrollbar-thumb: #888;
$scrollbar-thumb--hover: #646464;
$scrollbar-thumb--active: #5a5a5a;

$black: #000;
