---
styles:
    - '../../styles/styles.scss'
    - '../../layouts/main.scss'
    - './home.scss'
    - '../../styles/log.scss'
---

{{!< main}}

<main class="home-page">
    {{>'login/login'}}
</main>
