<div class="card">
    <form class="card-form">
        <div class="card__inputs">
            <div class="form-header">
                Log In
            </div>

            <div class="input">
                <input type="text" class="input__field" name="login" required/>
                <label class="input__label">login</label>
            </div>
            <div class="input">
                <input type="password" class="input__field" name="password" required/>
                <label class="input__label">password</label>
            </div>
        </div>
        <div class="card__action">
            <button class="action-button">Get started</button>
            
            <div class="link">
                <a href="../register/register.hbs" class="link-button">Havent got an account?</a> 
            </div>
        </div>
    </form>
</div>