---
styles:
    - '../../styles/styles.scss'
    - '../../layouts/main.scss'
    - './messenger.scss'
    - '../../partials/chat/chat.scss'
    - '../../partials/chat/message/message.scss'
    - '../../styles/log.scss'
    - '../../partials/card/card.scss'
---

{{!< main}}
<main class="messenger">
    <div class="chat-menu">
        <div class="chat-menu__header">
            <div class="profile">
                <div class="profile__content">
                    <div class="profile-picture profile-picture--large">
                        <img src="https://place-hold.it/57" class="profile-img" alt="profile picture">
                    </div>
                    <div class="profile-info">
                        <div class="profile-info__name">
                            your profile name
                        </div>
                        <div class="profile-info__text">
                            short info about you
                        </div>
                    </div>
                </div>
                <div class="profile__settings">
                    <a href="../about/about.hbs" class="settings-button">settings</a>
                </div>
            </div>
            <div class="search">
                <input class="search__input" type="text" placeholder="search">
            </div>
        </div>
        <ul class="chat-menu__chats scrollbar">
            {{#each chats.chats}}
                {{> 'chat/chat' chat=this}}
            {{/each}}
        </ul>
    </div>
    <div class="chat-content">
        {{#if false}}
            <div class="nothing">Nothing yet</div>
        {{else}}
            <div class="chat-content__header">
                <div class="profile">
                    <div class="profile__content">
                        <div class="profile-picture profile-picture--large">
                            <img src="https://place-hold.it/57" class="profile-img" alt="profile picture">
                        </div>
                        <div class="profile-info">
                            <div class="profile-info__name">
                                your profile name
                            </div>
                            <div class="profile-info__text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde dolore assumenda fugiat recusandae quod, culpa fuga obcaecati hic nemo mollitia dignissimos saepe, similique atque nam ad incidunt! Asperiores, nesciunt neque?
                                Accusantium eius natus, eos officia dolores laboriosam nulla beatae itaque ullam. Ullam nulla quae eum ratione consequuntur sint illo non praesentium, hic saepe beatae molestiae inventore laudantium dolore repudiandae labore?
                            </div>
                        </div>
                    </div>
                    <div class="profile__settings">
                        <button class="settings-button">settings</button> 
                    </div>
                </div>
            </div>
            <div class="chat-content__chat scrollbar">
                {{#each chats.chats}}
                    {{> 'chat/message/message' message='incoming'}}
                    {{> 'chat/message/message' message='outgoing'}}
                {{/each}}
            </div>
            <div class="panel">
                <button class="panel__button"><img src="/static/icons/paperclip.svg" alt="clip"></button>
                <input class="panel__input" type="text" placeholder="your text">
                <button class="panel__button"><img src="/static/icons/message-circle.svg" alt="enter"></button>
            </div>
        {{/if}}
    </div>
</main>


<div style="position: absolute; left: 0; display: flex; align-items: flex-start; flex-direction: column" >
    {{> 'card/messenger/chat-card'}}
    {{> 'card/messenger/panel-card'}}
    {{> 'card/messenger/managment-card'}}
    {{> 'card/messenger/managment-card' add=true}}
</div>
