---
styles:
    - '../styles/styles.scss'
    - '../layouts/main.scss'
---

{{!< main}}
<div class="error">
    <h1 class="error__title">
        500
    </h1>

    <h2 class="error__description">
        something went wrong...
    </h2>

    <a href="./messenger.hbs" class="link">back to chats</a>
</div>