---
styles:
    - '../styles/styles.scss'
    - '../styles/about.scss'
    - '../styles/log.scss'
    - '../partials/card/card.scss'
---

{{!< main}}

<main class="about">
    <div class="profile-picture profile-picture--gargantuan">
        <img src="https://place-hold.it/107" class="profile-img" alt="profile picture">
    </div>

    <h2 class="about__name">dfdgfgd</h2>

    <form class="about-form">
        <div class="about__info">
            <div class="field">
                <div class="field__key">
                    email
                </div>
                <div class="field__value">
                    <input class="input-inline" type="email" value="34353@hfghfg.cob">
                </div>
            </div>
            
            <div class="field">
                <div class="field__key">
                    login
                </div>
                <div class="field__value">
                    <input class="input-inline" type="text" value="34hfghfb">
                </div>
            </div>

            <div class="field">
                <div class="field__key">
                    name
                </div>
                <div class="field__value">
                    <input class="input-inline" type="text" value="fghfg">
                </div>
            </div>

            <div class="field">
                <div class="field__key">
                    lastname
                </div>
                <div class="field__value">
                    <input class="input-inline" type="text" value="cob">
                </div>
            </div>

            <div class="field">
                <div class="field__key">
                    chat name
                </div>
                <div class="field__value">
                    <input class="input-inline" type="text" value="fghfg">
                </div>
            </div>

            <div class="field">
                <div class="field__key">
                    phone
                </div>
                <div class="field__value">
                    <input class="input-inline" type="phone" value="+9584859">
                </div>
            </div>
        </div>

        <div class="about__action">
            <div class="action">
                <button class="action-button">
                    Apply changes
                </button>
            </div>
        </div>
    </form>
</main>
