---
styles:
    - '../styles/styles.scss'
    - '../layouts/main.scss'
    - '../styles/home.scss'
    - '../styles/log.scss'
---

{{!< main}}

<main class="home-page">
    {{>'login/login'}}
</main>
