<div class="card">
    <button class="managment-button">
        <img src="/static/icons/plus-circle.svg" alt="add">
        <div class="managment-label">Add user</div>
    </button>
    <button class="managment-button">
        <img src="/static/icons/user-x.svg" alt="remove">
        <div class="managment-label">Delete user</div>
    </button>
</div>