<div class="card">
    <button class="managment-button">
        <img src="/static/icons/image.svg" alt="clip">
        <div class="managment-label">Photo/Video</div>
    </button>
    <button class="managment-button">
        <img src="/static/icons/file-text.svg" alt="clip">
        <div class="managment-label">File</div>
    </button>
    <button class="managment-button">
        <img src="/static/icons/map-marker.svg" alt="clip">
        <div class="managment-label">Location</div>
    </button>
</div>