<div class="message message--{{message}}">
    <div class="profile-picture profile-picture--small">
        <img src="https://place-hold.it/37" class="profile-img" alt="profile picture">
    </div>
    <div class="message-wrapper">
        <div class="message__content">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus voluptatem debitis neque numquam quisquam, itaque, earum ex molestias aliquam obcaecati odio cum tempora doloremque impedit laboriosam dignissimos voluptates unde necessitatibus!
                Nam iure blanditiis voluptatem, voluptas atque maiores incidunt hic? Fugiat consequuntur laborum perferendis in. Aliquid nulla dignissimos quas assumenda libero necessitatibus quasi. Porro corrupti dolor officiis quod odio minima corporis.
                Deserunt perferendis eos, minima amet fugit quas rem! Doloremque temporibus adipisci saepe ea quidem dolorum, quos molestiae voluptatem distinctio delectus deserunt enim illum error. Quam, atque. Distinctio ducimus sunt quod.
                <span class="message__time">17:16</span>
            </p>  
        </div>
    </div>
</div>