---
styles:
    - '../../styles/styles.scss'
    - '../../layouts/main.scss'
---

{{!< main}}
<div class="error">
    <h1 class="error__title">
        404
    </h1>

    <h2 class="error__description">
        page not found...
    </h2>

    <a href="../messenger/messenger.hb" class="link">back to chats</a>
</div>