.card {   
    &__header {
        margin: 0;
    }

    &__main {
        margin: 30px 0;

        &-file {
            color: #8D8D8D;
        }
    }

    &__additional {
        margin: 20px 0 0;
    }

    &-form {
        min-height: auto!important;
    }
}

.like-link {
    background: none!important;
    border: none;
    cursor: pointer;
}

.managment {
    &-button {
        width: 100%;
        padding: 5px;
        display: flex;
        align-items: center;

        background: inherit;
        border-radius: 8px;
        border: none;

        &:hover {
            background-color: #d6e4fc;
        }
    }

    &-label {
        margin-left: 7px;
    }
}


