@use "/src/styles/variables.scss" as var;

.link {
  margin-top: 14px;
  text-align: center;
}

.link-button {
  color: var.$blue;
  font-weight: 500;
  font-size: 13px;
  font-family: Inter;
  font-style: normal;
  line-height: 11px;
}
