@use "/src/styles/variables.scss" as var;

.message {
  display: flex;
  padding: 10px;

  &__content {
    word-wrap: break-word;
  }

  &__time {
    position: relative;
    top: 16px;
    float: right;
    padding: 7px;
    font-size: 12px;
  }
}

.message-wrapper {
  max-width: 60%;
  margin: 0 7px;
  padding: 10px;
  background-color: #f8f8f8;
  border-radius: 15px;
}

.message--outgoing {
  flex-direction: row-reverse;
}
